body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

.addSection {
    flex-flow: column;
    height: auto;
    padding: 3em 0em;
    background-color:#4A6793;
    color: #ffffff;
}

.flexCenter {
    -webkit-display: flex;
    -ms-display: flex;    
    display: flex;
    justify-content: center;
    align-items: center; 
}
